.vscode/
# .gitignore
__pycache__/
# */__pycache__/
ProGED.egg-info/
.idea/workspace.xml
.idea/
*~
#.*
julia/breiding/LearningAlgebraicVarieties.jl
# cocoa_location.py
cocoa_location_secret.py
julia/Polynomial.py
julia/GenFunLinRec.py
# Polynomial.py
# GenFunLinRec.py
readme_lin_equiv.md
readme_lin_equiv2.md
